<ion-header-bar class="bar-stable">
    <h1 class="title">Akademia</h1>
  </ion-header-bar>
  <ion-content id="main-content" scroll="false">
    <ionic-list id="message-list">
      <a href="#/rooms/{{room.id}}" ng-repeat="room in rooms">
        <ion-item class="room-item">
          <strong>{{room.name}}</strong> 
          <span class="message-date"> - {{room.timestamp | date: short}}</span>
        </ion-item>
      </a>
    </ionic-list>
  </ion-content>
  <ion-footer-bar id="footer" align-title="left" class="bar-calm">
    <textarea id="roomNameToCreate" ng-model="roomNameToCreate"></textarea>
    <div class="send-button" ng-click="createRoom()">Create Room</div>
</ion-footer-bar>